Server/NodeRed-MQTT/flows.json
[
    {
        "id": "1d02a6e279f3ab39",
        "type": "aedes broker",
        "z": "82c43252454d5893",
        "name": "",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d7857bf831605b8a",
        "type": "mqtt in",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c38adbc301341f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 1120,
        "wires": [
            [
                "13a26d7a85036fdc",
                "2423c6d823772ce3"
            ]
        ]
    },
    {
        "id": "9a0b2c25e0af766b",
        "type": "mqtt in",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/waterLevel",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c38adbc301341f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 1360,
        "wires": [
            [
                "91de38638c3cbf3c",
                "efcfdd9b1d7fe5e7"
            ]
        ]
    },
    {
        "id": "856bb4546fe24cbf",
        "type": "mqtt in",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/soilMoisture",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c38adbc301341f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 1600,
        "wires": [
            [
                "826b04f7481f571d",
                "b75656387c949bba"
            ]
        ]
    },
    {
        "id": "ec0553778b60f1b4",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Humidity Write",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1440,
        "y": 1100,
        "wires": []
    },
    {
        "id": "64ba4ed5379ba6f9",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.internal",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1100,
        "wires": [
            [
                "ec0553778b60f1b4"
            ]
        ]
    },
    {
        "id": "f7d22c5eb7a9aa2d",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Light (IL_value/ OL_value)",
        "info": "",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "b9fc581bb4a90ed0",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Temperature (IT_value/ OT_value)",
        "info": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "d12a8f123ee5699f",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Humidity (value)",
        "info": "",
        "x": 620,
        "y": 1040,
        "wires": []
    },
    {
        "id": "da6a489f3864abc1",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Water Level Write",
        "measurement": "waterLevel",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1450,
        "y": 1340,
        "wires": []
    },
    {
        "id": "00a50f24bebb5d34",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.tank",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1340,
        "wires": [
            [
                "da6a489f3864abc1"
            ]
        ]
    },
    {
        "id": "91de38638c3cbf3c",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Convert to Int",
        "func": "msg.value = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1360,
        "wires": [
            [
                "00a50f24bebb5d34"
            ]
        ]
    },
    {
        "id": "fb7b8e868c0daca5",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Water Level (value)",
        "info": "",
        "x": 630,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a888bb259fc288c5",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Moisture Write",
        "measurement": "moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1440,
        "y": 1580,
        "wires": []
    },
    {
        "id": "7ba1fb3e0f408cea",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.soil",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1580,
        "wires": [
            [
                "a888bb259fc288c5"
            ]
        ]
    },
    {
        "id": "4ad29e162eae6d8e",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Soil Moisture (value)",
        "info": "",
        "x": 630,
        "y": 1520,
        "wires": []
    },
    {
        "id": "826b04f7481f571d",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Convert to Int",
        "func": "msg.value = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1600,
        "wires": [
            [
                "7ba1fb3e0f408cea"
            ]
        ]
    },
    {
        "id": "13a26d7a85036fdc",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Convert to Int",
        "func": "msg.value = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1120,
        "wires": [
            [
                "64ba4ed5379ba6f9"
            ]
        ]
    },
    {
        "id": "582976690925d692",
        "type": "inject",
        "z": "82c43252454d5893",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "IT_330",
        "payloadType": "str",
        "x": 590,
        "y": 2180,
        "wires": [
            [
                "f4dbe5725af90e23"
            ]
        ]
    },
    {
        "id": "f4dbe5725af90e23",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "",
        "func": "let input = msg.payload.split(\"_\");\nmsg.type = input[0];\nmsg.value = input[1];\nconsole.log(msg.type);\n\n// sidebar.debug(\"Log message\");\nnode.warn([\"your_variable=\"]);\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7be012fc10940d4f",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "test",
        "info": "",
        "x": 590,
        "y": 2120,
        "wires": []
    },
    {
        "id": "49e9ee5f28a993ed",
        "type": "mqtt out",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/valve",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c38adbc301341f7",
        "x": 930,
        "y": 2420,
        "wires": []
    },
    {
        "id": "1ef861edf24d4971",
        "type": "mqtt out",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/Fan",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c38adbc301341f7",
        "x": 1170,
        "y": 2780,
        "wires": []
    },
    {
        "id": "a4e9890bcb374cc5",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Create message",
        "func": "msg.type = \"HOT\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 2740,
        "wires": [
            [
                "1ef861edf24d4971"
            ]
        ]
    },
    {
        "id": "519cc29b5f10017e",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Create message",
        "func": "msg.type = \"COLD\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 2820,
        "wires": [
            [
                "1ef861edf24d4971"
            ]
        ]
    },
    {
        "id": "a419d8b4a5e38e29",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Control Fans",
        "info": "",
        "x": 610,
        "y": 2660,
        "wires": []
    },
    {
        "id": "c4918b7a146b101d",
        "type": "mqtt out",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/shutter",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6c38adbc301341f7",
        "x": 940,
        "y": 2580,
        "wires": []
    },
    {
        "id": "a5edd032ee6b1c2e",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Control Shutter",
        "info": "",
        "x": 620,
        "y": 2500,
        "wires": []
    },
    {
        "id": "e344a0b1de52662c",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Control Water Valve",
        "info": "",
        "x": 630,
        "y": 2340,
        "wires": []
    },
    {
        "id": "7184bd6cbd53553b",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Transmit Section",
        "info": "",
        "x": 440,
        "y": 2020,
        "wires": []
    },
    {
        "id": "65cfb75bfbcb2efa",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Recieve Section",
        "info": "",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "4cc577be8b38b284",
        "type": "mqtt in",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/events",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c38adbc301341f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 1940,
        "wires": [
            [
                "88ef5ab2bef2456a"
            ]
        ]
    },
    {
        "id": "074e86c0ea0243c6",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Irrigation Event Write",
        "measurement": "irrigation",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1740,
        "y": 1840,
        "wires": []
    },
    {
        "id": "e3a380954c6128c1",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.state",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1840,
        "wires": [
            [
                "074e86c0ea0243c6"
            ]
        ]
    },
    {
        "id": "06dd53c9ef1102f6",
        "type": "comment",
        "z": "82c43252454d5893",
        "name": "Events",
        "info": "",
        "x": 590,
        "y": 1760,
        "wires": []
    },
    {
        "id": "88ef5ab2bef2456a",
        "type": "switch",
        "z": "82c43252454d5893",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Irrigation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "No-Irrigation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cooling",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Heating",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "No-AC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Moving_to_the_Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Moving_to_the_Middle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Moving_to_the_End",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Still_at_Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Still_at_Middle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Still_at_End",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tank_Filling",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Tank_Stop_Filling",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 13,
        "x": 910,
        "y": 1940,
        "wires": [
            [
                "355efadfc23c60b5",
                "fb15378228782664"
            ],
            [
                "355efadfc23c60b5",
                "fb15378228782664"
            ],
            [
                "fb2530d69549bb45",
                "f638d488a3a81078"
            ],
            [
                "fb2530d69549bb45",
                "f638d488a3a81078"
            ],
            [
                "fb2530d69549bb45",
                "f638d488a3a81078"
            ],
            [
                "cb7815217be91e9f",
                "58347614fd1fd82d"
            ],
            [
                "cb7815217be91e9f",
                "58347614fd1fd82d"
            ],
            [
                "cb7815217be91e9f",
                "58347614fd1fd82d"
            ],
            [
                "cb7815217be91e9f",
                "58347614fd1fd82d"
            ],
            [
                "cb7815217be91e9f",
                "58347614fd1fd82d"
            ],
            [
                "cb7815217be91e9f",
                "58347614fd1fd82d"
            ],
            [
                "2de6b1f9ca0c02b6",
                "d57efdcdab921a83"
            ],
            [
                "2de6b1f9ca0c02b6",
                "d57efdcdab921a83"
            ]
        ]
    },
    {
        "id": "355efadfc23c60b5",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Irrigation values added (0/1)",
        "func": "if(msg.payload == \"IRRIGATION\"){\n    msg.value = 1;\n    msg.dpMessage = \"Irrigation ON\";\n}else{\n    msg.value = 0;\n    msg.dpMessage = \"Irrigation OFF\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1840,
        "wires": [
            [
                "e3a380954c6128c1"
            ]
        ]
    },
    {
        "id": "fb2530d69549bb45",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Air Conditioning values (0/1/2)",
        "func": "if(msg.payload == \"NO-AC\"){\n    msg.value = 0;\n    msg.dpMessage = \"No Air Conditioning\";\n}else if (msg.payload == \"COOLING\"){\n    msg.value = 1;\n    msg.dpMessage = \"Cold Air Conditioning\";    \n}else{\n    msg.value = 2;\n    msg.dpMessage = \"HOT Air Conditioning\";    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1920,
        "wires": [
            [
                "65d76468a574310e"
            ]
        ]
    },
    {
        "id": "fd8f7593f1488471",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Air conditioning Event Write",
        "measurement": "airConditioning",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1760,
        "y": 1920,
        "wires": []
    },
    {
        "id": "65d76468a574310e",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.type",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1920,
        "wires": [
            [
                "fd8f7593f1488471"
            ]
        ]
    },
    {
        "id": "fb15378228782664",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "d8807c8f558ef194",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Irrigation State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1180,
        "y": 1800,
        "wires": []
    },
    {
        "id": "f638d488a3a81078",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "d8807c8f558ef194",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Condition State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1190,
        "y": 1880,
        "wires": []
    },
    {
        "id": "2423c6d823772ce3",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "5407e25db07d8203",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Internal Humidity ",
        "format": "{{msg.payload + \" %\"}}",
        "layout": "row-spread",
        "className": "humidity",
        "x": 950,
        "y": 1160,
        "wires": []
    },
    {
        "id": "efcfdd9b1d7fe5e7",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "5407e25db07d8203",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water Level (ml)",
        "format": "{{msg.payload + \" ml\"}}",
        "layout": "row-spread",
        "className": "tank",
        "x": 940,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b75656387c949bba",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "5407e25db07d8203",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Soil Moisture (%)",
        "format": "{{msg.payload + \" %\"}}",
        "layout": "row-spread",
        "className": "soil",
        "x": 950,
        "y": 1640,
        "wires": []
    },
    {
        "id": "cb7815217be91e9f",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Shutter (0/1/2)",
        "func": "/*\n(Moves)\nM_S (Fully open)\nM_M (Partially open)\nM_E (Fully close)\n\n(Stoped)\nS_S (Fully open)\nS_M (Partially open)\nS_E (Fully close)\n*/\n\nlet splittedMessage = msg.payload.split(\"_\");\n\nif (splittedMessage[0] == \"M\"){\n    msg.display = \"Moves in order to be\"; \n}else{\n    msg.display = \"Still \";\n}\n\nif(splittedMessage[1] == \"S\"){\n    msg.display = msg.display + \"fully open\";\n    msg.position = 2;\n}else if(splittedMessage[1] == \"M\"){\n    msg.display = msg.display + \"partially open\";\n    msg.position = 1;\n}else if(splittedMessage[1] == \"E\"){\n    msg.display = msg.display + \"closed\";\n    msg.position = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1960,
        "wires": [
            [
                "cb17e298aed474d8"
            ]
        ]
    },
    {
        "id": "2de6b1f9ca0c02b6",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Tank (0/1)",
        "func": "/*\nT_F (Tank Filling)\nT_NF (Tank Filling Stopped)\n*/\n\nif(msg.payload == \"T_F\"){\n    msg.display = \"Tank Filling\";\n    msg.value = 1;\n}else{\n    msg.display = \"Tank Filling Stopped\";\n    msg.value = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 2040,
        "wires": [
            [
                "855740083c047796"
            ]
        ]
    },
    {
        "id": "58347614fd1fd82d",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "d8807c8f558ef194",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Shutter State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1170,
        "y": 2000,
        "wires": []
    },
    {
        "id": "cb17e298aed474d8",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.state",
                "pt": "msg",
                "to": "position",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1960,
        "wires": [
            [
                "1ba4dbe2dfaff389"
            ]
        ]
    },
    {
        "id": "855740083c047796",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.state",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 2040,
        "wires": [
            [
                "ae1fda21fd6f01b3"
            ]
        ]
    },
    {
        "id": "d57efdcdab921a83",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "d8807c8f558ef194",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tank State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1170,
        "y": 2080,
        "wires": []
    },
    {
        "id": "1ba4dbe2dfaff389",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Shutter State Event Write",
        "measurement": "Shutter",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1750,
        "y": 1960,
        "wires": []
    },
    {
        "id": "ae1fda21fd6f01b3",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Tank State Event Write",
        "measurement": "tankFilling",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1740,
        "y": 2040,
        "wires": []
    },
    {
        "id": "e68b4b2c8661b898",
        "type": "ui_switch",
        "z": "82c43252454d5893",
        "name": "",
        "label": "Cold Fan (OFF/ON)",
        "tooltip": "",
        "group": "d8807c8f558ef194",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "state",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 2820,
        "wires": [
            [
                "519cc29b5f10017e"
            ]
        ]
    },
    {
        "id": "47325521f606dedc",
        "type": "ui_switch",
        "z": "82c43252454d5893",
        "name": "",
        "label": "Hot Fan (OFF/ON)",
        "tooltip": "",
        "group": "d8807c8f558ef194",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "state",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 2740,
        "wires": [
            [
                "a4e9890bcb374cc5"
            ]
        ]
    },
    {
        "id": "fa8a184e0f956dbc",
        "type": "ui_slider",
        "z": "82c43252454d5893",
        "name": "",
        "label": "Shutter Position",
        "tooltip": "",
        "group": "d8807c8f558ef194",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "position",
        "topicType": "msg",
        "min": 0,
        "max": "2",
        "step": 1,
        "className": "",
        "x": 620,
        "y": 2580,
        "wires": [
            [
                "c4918b7a146b101d"
            ]
        ],
        "info": " (0: Open - 1: Center - 2: Close) "
    },
    {
        "id": "150cd1ee60648f9f",
        "type": "ui_switch",
        "z": "82c43252454d5893",
        "name": "",
        "label": "Water Valve (OFF/ON)",
        "tooltip": "",
        "group": "d8807c8f558ef194",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 640,
        "y": 2420,
        "wires": [
            [
                "49e9ee5f28a993ed"
            ]
        ]
    },
    {
        "id": "58840f4d84e7e30c",
        "type": "ui_template",
        "z": "82c43252454d5893",
        "group": "d8807c8f558ef194",
        "name": "",
        "order": 10,
        "width": 0,
        "height": 0,
        "format": "<style>\n.nr-dashboard-cardtitle{\n    text-align: center;\n    text-decoration: underline;\n    font-size: 30px !important;\n    font-weight: bold !important;\n}\n.mTitle{\n    text-decoration: underline;\n    font-size: 30px !important;\n    font-weight: bold !important;\n    color: #1bbfff;\n}\n\n.temp{\n    background-color: #c3eeff !important;\n}\n\n.light{\n    \n}\n\n.humidity{\n    background-color: #c3eeff !important;\n}\n\n.tank{\n    \n}\n\n.soil{\n    background-color: #c3eeff !important;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 200,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2cb555b0d036755c",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "d8807c8f558ef194",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<p class=\"mTitle\">Events</p>",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 810,
        "y": 1760,
        "wires": []
    },
    {
        "id": "406bc18a86799a51",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "External Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.external",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "db71e94c26b50882"
            ]
        ]
    },
    {
        "id": "52da39d59ea5b13b",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Convert To Int ",
        "func": "// IT_30\n// OT_27\nnode.warn([\"incoming message temp\"]);\nnode.warn([msg.payload]);\nmsg.value = parseInt(msg.payload);\nnode.warn([\"Converted to Int\"]);\nnode.warn([msg.value]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 460,
        "wires": [
            [
                "406bc18a86799a51"
            ]
        ]
    },
    {
        "id": "6b72b8b2a8ca5fdf",
        "type": "mqtt in",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/temperatureOUT",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c38adbc301341f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "52da39d59ea5b13b",
                "151e17a6fcf5922c"
            ]
        ]
    },
    {
        "id": "151e17a6fcf5922c",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "5407e25db07d8203",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "External Temperature (C)",
        "format": "{{msg.payload + \" °C\"}}",
        "layout": "row-spread",
        "className": "temp",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "db71e94c26b50882",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Temperature Out Write",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1460,
        "y": 440,
        "wires": []
    },
    {
        "id": "f3d1b1e13dcdf8e7",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Internal Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.internal",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "ffab7e6a432ebc09"
            ]
        ]
    },
    {
        "id": "cc91c881d3fcd00b",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Convert To Int ",
        "func": "// IT_30\n// OT_27\nnode.warn([\"incoming message temp\"]);\nnode.warn([msg.payload]);\n\nmsg.value = parseInt(msg.payload);\n\nnode.warn([\"Converted to Int\"]);\nnode.warn([msg.value]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 260,
        "wires": [
            [
                "f3d1b1e13dcdf8e7"
            ]
        ]
    },
    {
        "id": "8eebe24ea7be47bd",
        "type": "mqtt in",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/temperatureIN",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c38adbc301341f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "cc91c881d3fcd00b",
                "134242641d294b3a"
            ]
        ]
    },
    {
        "id": "ffab7e6a432ebc09",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Temperature In Write",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1460,
        "y": 240,
        "wires": []
    },
    {
        "id": "134242641d294b3a",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "5407e25db07d8203",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Internal Temperature (C)",
        "format": "{{msg.payload + \" °C\"}}",
        "layout": "row-spread",
        "className": "temp",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a9fad27bb13828f",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "External Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.external",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 920,
        "wires": [
            [
                "a66490965d887618"
            ]
        ]
    },
    {
        "id": "98c47e28ad7fda23",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Convert To Int ",
        "func": "// IT_30\n// OT_27\nnode.warn([\"incoming message light\"]);\nnode.warn([msg.payload]);\nmsg.value = parseInt(msg.payload);\nnode.warn([\"Converted to Float\"]);\nnode.warn([msg.value]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 940,
        "wires": [
            [
                "8a9fad27bb13828f"
            ]
        ]
    },
    {
        "id": "f5f971a4725c96c9",
        "type": "mqtt in",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/lightOUT",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c38adbc301341f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 940,
        "wires": [
            [
                "98c47e28ad7fda23",
                "4339efdf11e1dd26"
            ]
        ]
    },
    {
        "id": "4339efdf11e1dd26",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "5407e25db07d8203",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "External  Light Intensity ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "light",
        "x": 960,
        "y": 980,
        "wires": []
    },
    {
        "id": "a66490965d887618",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Light Out Write",
        "measurement": "light",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1440,
        "y": 920,
        "wires": []
    },
    {
        "id": "8e835771556cae2e",
        "type": "change",
        "z": "82c43252454d5893",
        "name": "Internal Format",
        "rules": [
            {
                "t": "set",
                "p": "fields.internal",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 720,
        "wires": [
            [
                "05ab97145dba1773"
            ]
        ]
    },
    {
        "id": "58bc6a5a985afc74",
        "type": "function",
        "z": "82c43252454d5893",
        "name": "Convert To Int ",
        "func": "// IT_30\n// OT_27\nnode.warn([\"incoming message light\"]);\nnode.warn([msg.payload]);\n\nmsg.value = parseInt(msg.payload);\n\nnode.warn([\"Converted to Int\"]);\nnode.warn([msg.value]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 740,
        "wires": [
            [
                "8e835771556cae2e"
            ]
        ]
    },
    {
        "id": "9685b86a140194f0",
        "type": "mqtt in",
        "z": "82c43252454d5893",
        "name": "",
        "topic": "esp32/lightIN",
        "qos": "2",
        "datatype": "auto",
        "broker": "6c38adbc301341f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "58bc6a5a985afc74",
                "06fd0cba19ed2c4c"
            ]
        ]
    },
    {
        "id": "05ab97145dba1773",
        "type": "influxdb out",
        "z": "82c43252454d5893",
        "influxdb": "ec0239a13d7cba62",
        "name": "Light In Write",
        "measurement": "light",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IOT",
        "bucket": "test",
        "x": 1430,
        "y": 720,
        "wires": []
    },
    {
        "id": "06fd0cba19ed2c4c",
        "type": "ui_text",
        "z": "82c43252454d5893",
        "group": "5407e25db07d8203",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Internal Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "light",
        "x": 960,
        "y": 780,
        "wires": []
    },
    {
        "id": "6c38adbc301341f7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ec0239a13d7cba62",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "IOT_DB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "d8807c8f558ef194",
        "type": "ui_group",
        "name": "Controls",
        "tab": "89d4041f7249bf8c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ".nr-dashboard-cardtitle {   background-color: black; }"
    },
    {
        "id": "5407e25db07d8203",
        "type": "ui_group",
        "name": "Metrics",
        "tab": "89d4041f7249bf8c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89d4041f7249bf8c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]